header {
    display: flex;
    gap: 20px;

    align-items: center;
    justify-content: space-between;

    width: 100%;
    height: fit-content;
    padding: 10px;

    background-color: #d30a40;

    > * {
        border: 2px solid hsla(0, 0%, 0%, 0.5);
        border-radius: 5px;
        padding: 10px;
    }
    > arrows {
        padding: 0;
        display: flex;
        gap: 5px;

        > * {
            padding: 13px;
            margin: 0;
        }
        > arrow {
            cursor: pointer;
        }
    }
    > h1 {
        cursor: pointer;
    }
}

.header {
    display: flex;
    justify-content: center;
    height: 80px;

    background: linear-gradient(#dd0841 0%, #c00c3c 95%);
    border: 2px hsla(0, 0%, 0%, 0.5) solid;

    transition: 
        height 100ms ease -50ms,
        border 100ms ease -50ms;
}

.header_page {
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: bold;
    color: black;
    text-decoration: none;
}

burger {
    cursor: pointer;
    display: flex;
    flex-direction: column;
}

bar {
    height: 4px;
    width: 30px;
    background-color: black;
    margin: 3px 0;
}

@media screen and (max-width: 768px) {
    .header {
        flex-direction: column;
        height: 510px;
    }
}
