* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(#2a7b9b 0%, #57c785 80%);
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
}

.body-bg {
    position: fixed;

    width: 100%;
    height: 100%;

    z-index: -1;

    background-image: url("NicePng_halftone-dots-png_7851864.png");
    background-size: 500px;
    background-repeat: repeat;

    animation: dots 60s infinite linear;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    gap: 20px 5px;
    border: 10px solid #d30a40;

    height: fit-content;
    padding: 10px;
}

.card {
    padding: 10px;
    width: 350px;

    background-color: wheat;
    border: 7px solid #d30a40;
    border-radius: 10px;

    text-align: center;
    flex-grow: 1; /* enlarge when available */
}

.bg {
    padding: 5px;

    background-image: url("NicePng_halftone-dots-png_7851864.png");
    background-size: 200px;
    animation: dots 120s infinite linear;
    background-repeat: repeat;

    border: 1px solid hsl(39, 30%, 60%);
    border-radius: 10px;
}

.subtext {
    font-size: 0.9rem;
    color: hsla(0, 0%, 0%, 0.5);
    text-align: center;
}

@keyframes dots {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 100vw 100vh;
    }
}

@media screen and (max-width: 768px) {
    main { justify-content: center; }
}