* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #2a7b9b;
    background: linear-gradient(#2a7b9b 0%, #57c785 80%);
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
}

.body-bg {
    position: fixed;

    width: 100%;
    height: 100%;

    z-index: -1;

    background-image: url("NicePng_halftone-dots-png_7851864.png");
    background-size: 500px;
    background-repeat: repeat;

    animation: dots 60s infinite linear;
}

header {
    display: flex;
    gap: 20px;

    align-items: center;
    justify-content:space-between;

    width: 100%;
    height: fit-content;
    padding: 10px;

    background-color: #d30a40;

    > * {
        border: 2px solid hsla(0, 0%, 0%, 0.5);
        border-radius: 5px;
        padding: 10px;
    }
    > arrows {
        padding:0;
        display: flex;
        gap: 5px;

        > * {
            padding: 13px;
            margin:0;
        }
        > arrow {
            cursor: pointer;
        }
    }
    > h1 {
        cursor: pointer;
    }
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;

    background: linear-gradient(#dd0841 0%, #c00c3c 95%);
    border: 2px solid hsla(0, 0%, 0%, 0.5);

    transition: all 600ms cubic-bezier(0.62, 0.04, 0.3, 1.56);
    transition-delay: 100ms;
}

.header_page {
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: bold;
    color: black;
    text-decoration: none;
}

burger {
    cursor: pointer;
    display: flex;
    flex-direction: column;
}

bar {
    height: 4px;
    width: 30px;
    background-color: black;
    margin: 3px 0;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    gap: 20px 5px;
    border: 10px solid #d30a40;

    height: fit-content;
    padding: 10px;
}

.hidden {
    display: none;
}

.option {
    width: fit-content;
    height: fit-content;

    padding: 15px 30px;

    background-color: wheat;
    border: 2px solid #c0b088;
    border-radius: 10px;

    color: black;
    text-decoration: none;
    cursor: pointer;
}

.card {
    padding: 10px;
    width: 350px;

    background-color: wheat;
    border: 7px solid #d30a40;
    border-radius: 10px;

    text-align: center;
}

.bg {
    padding: 5px;

    background-image: url("NicePng_halftone-dots-png_7851864.png");
    background-size: 200px;
    animation: dots 120s infinite linear;
    background-repeat: repeat;

    border: 1px solid hsl(39, 30%, 60%);
}

.subtext {
    font-size: 0.9rem;
    color: hsla(0, 0%, 0%, 0.5);
    text-align: center;
}

.scroll-list {
    display: flex;
    flex-direction: column;

    overflow: auto;
    height: 100px;

    > * {
        border-bottom: 1px solid black;
        border-top: 1px solid black;
        padding: 5px 0;
    }
}

.ability {
    > .bg {
        margin: 7px 0;
    }
}

.berry {
    > h4 {
        margin: 5px 0;
    }
}

.characteristic {
    > .bg {
        margin: 7px 0;
    }
}

@keyframes dots {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 100vw 100vh;
    }
}
